@import "variables";

.header {
	background: @headerBg;
	color: @headerCl;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	line-height: @headerH;
	height: @headerH;
	padding: 0 @gutter;
	z-index: 10;
}

.header__list {
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;

	li {
		display: inline-block;
		vertical-align: middle;
		line-height: 1;
	}

	.logo {
		color: @headerCl;
	}

	.right-side,
	.left-side {
		// position: absolute;
		// top: 50%;
	}

	.left-side {
		padding-right: 0.625rem; /* 10/16 */
	}

	.right-side {
		padding-left: 0.625rem; /* 10/16 */
	}

	.fa {
		font-size: 1.5625rem; /* 25/16 */
		vertical-align: middle;
	}

	.fa-comment-o {
		margin-top: -5px;
		margin-right: -5px;
	}

	.fa-plus {

	}

	a {
		color: inherit;
		line-height: @headerH;
		height: @headerH;
	}

	.action-list {
		a {
			width: @headerH;
		}

		.message-btn {
			margin-right: -10px;
		}
	}
}