// General styles, e. g. for the body tag
@import 'variables';

/* -------------------
  Main Content
   ------------------- */

input[type="text"], input[type="email"],
input[type="password"], textarea {
  padding-left: 10px;
  padding-right: 10px;
}

header {
  &.center {
    .title {
      text-align: center;
    }
  }

  .title {
    padding-left: 10px;
    text-align: left;
  }

  .icon {
    padding-left: @gutter;
    padding-right: @gutter;

    &.rm-left {
      margin-left: -@gutter;
    }
    &.rm-right {
      margin-right: -@gutter;
    }
  }
}

.container {
  position: relative;
  top: 44px;
  padding: 10px 10px;
}

.hidden {
  display: none;
}

.login-page {
  .login-block {
    margin-top: 100px;

    .login-title {
      text-align: center;
    }
  }
}

.segmented-control {
  position: relative;
  top: 44px;

  .control-item {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
