// General styles, e. g. for the body tag
@import 'variables';

/* -------------------
  Main Content
   ------------------- */

.container {
  position: relative;
  top: 44px;
  padding: 10px 10px;
}

.hidden {
  display: none;
}

.login-page {
  .login-block {
    margin-top: 100px;

    .login-title {
      text-align: center;
    }
  }
}
