// Declare variables for use in all the template specific / main less files

@color-blue: #2980B9;
@color-blue-light: #3498db;

@html5Orange: #F06529;
@white: #fff;

@headerBg: #2980B9;
@headerCl: #fff;
@headerH: 60px;

@baseFS: 15px;
@gutter: 20px;

// Width variables
@largeDesktopWidth: 1280px;
@mediumDesktopWidth: 992px;
@tabletWidth: 768px;
@phoneWidth: 480px;

@loginFormWidth: 500px;
